/*************one item**********/

.product-card {
    display:block;
    border-radius: 20px;
    width:310px;
    height:auto;

    text-align:left;

    font-size: 18px;

    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.464);
}

.product-customization{
    padding:20px;
}
/***********prodcut description**********/
.product-img img {
    border-radius: 20px 20px 0px 0px;
}

.product-name {
    margin-top:5px;
    margin-bottom:0px;
    font-size: 24px;
    font-weight: bold;
}

/***********glazing selection**********/
.glazing {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glazing label {
    margin-right: 20px;
}

.glazing select {
    width:180px;
    padding: 8px;
    margin-top:10px;
    border-radius: 20px;
    border: 3px solid #ff6666;

    font-size: 18px;
}

/***********pack size selection**********/
.pack-size {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pack-size label {
    margin-right: 20px;
}

.sizeBtn-normal {
    width: 40px;
    height: 40px;

    background-color: white;
    border-radius: 50%;
    border: 3px solid #ff6666;

    font-size: 18px;
}

.sizeBtn-click {
    width: 40px;
    height: 40px;

    border: 3px solid #ff6666;
    border-radius: 50%;
    background-color: lightgray;

    font-size: 18px;
    font-weight: bold;

}


.pack-size button:hover {
    font-weight: 700;
    background-color: lightgray;
}

/***************price & cart**************/
.add-to-cart {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-weight: bold;
}

.btn-addCart {
    width: 180px;
    height: 50px;
    font-size: 22px;
    font-weight: 700;
    background-color: white;
    border-radius: 40px;
    border: 3px solid #ff6666;
}

.btn-addCart:hover {
    cursor:pointer;
    background-color: #ff6666;
}
