/*************Pop up**********/
#cartPopup {
    display: block;
    width: 200px;
    top: 7%;
    right: 40px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: white;
    padding: 8px;
    position: absolute;
    text-align: left;
    font-size: 16px;

    animation: fadeIn 0.5s; 
}

.popup-summary {
    margin-top:0px;
    margin-bottom: 0px;
}

#popup-name {
    margin-top: 20px;
    font-weight: 700;
}

/* fade in animation for the pop up */
/* Source: https://www.w3schools.com/howto/howto_js_popup.asp */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
}
